*{
    margin:0;
    padding:0;
}

body{
    background-color:black;
    margin-bottom:20px;
}
.navbar{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    background-image:linear-gradient(green,rgb(107, 207, 126));
    padding:15px;
}
.navbar-left{
    margin-left:20px;
}
.navbar-right{
    margin-right:20px;
    display:flex;
    flex-direction: row;
    align-items:center;
}
 .navbar-right  a{
   margin-left:15px;
   text-decoration: none;
   border:2px solid black;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color:black;
   padding:5px;
}
.navbar-right a:hover{
  color:white;
  background-color: black;
  transform: translateY(-10px);
}
.navbar-right a:active{
    color: black;
    background-color: white;
    transform: translateY(-5px);

}
.home{
    color:antiquewhite;
    display:flex;
  align-items:center;
    height:400px;
   margin-left:40px;
}
.home-left{
    width:50%;
    text-align:right;
}
.home-right{
    margin-left:250px;
 }
img{
    margin-right:300px;
    margin-top:125px;
    border-radius:50%;

}
.contact{
    text-align: center;
    justify-content: center;
    color: chartreuse;
    margin-bottom:0px;
}
.des{
    margin-top:70px;
    text-align:center;
   color:rgb(64, 229, 103);
   font-size: 40px;
}
.info{
    margin-top:30px;
    color: bisque;
    font-family:sans-serif;
}
.qua{
    padding:50px;
    color: antiquewhite;
}
.quasub{
    display:flex;
    flex-direction: row;
    margin-left:60px;
    margin-top: 20px;
    
}
.das{
    border:2px green solid;
    margin: 10px;
    padding: 10px;
    font-style:italic;
}
.ach{
     color:beige;
     text-align: center;
     margin-top: 30px;
    
}
.achead{
    color:rgb(64, 229, 103);
    font-size:30px;
    margin-bottom:20px;
}
.social-icon-img,.social-icon-img2,.social-icon-img3{
    height:50px;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin-left:10px;
    margin-top:30px;
}
.social-icons img{
    padding :30px;
}
.social-icons a:hover{
    transform: translateY(-15px);
}

@media only screen and (min-width: 600px) {
    .navbar {
        flex-direction: row;
    }

    .home {
        flex-direction: row; 
        justify-content: space-around;
        text-align: left;
    }

    .home-left, .home-right {
        width: 45%;
    }
  

    img {
        margin: 0;
    }
}
@media only screen and (min-height:1120px)
{

} 